<h1>Hey <%= user.username %> Welcome to inshare dashboard!</h1>
<div><b>Id:</b> <%= user.id%></div>
<div><b>Username:</b> <%= user.username%></div>
<div><b>Email:</b> <%= user.email%></div>
<div><b>Password:</b> <%= user.password%></div>
<div><b>Files:</b> <%= user.files_created%></div>
<p><a href="/users/logout">Logout</a></p>